<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FoodieFinds</title>
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar-group">
        <h1>FoodieFinds</h1>
        <ul class="nav-menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#favourite">Favourite</a></li>
          <li><a href="#about">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section class="hero-section">
          <div class="hero-group">
            <div class="container-image">
              <div class="hero-content">
                <h1>Find Your Favorite Restaurant Here!</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolorem fugit praesentium harum possimus, aliquam explicabo ex veniam architecto illo officia nostrum ipsa aspernatur eligendi aliquid obcaecati deleniti,
                  omnis provident!
                </p>
              </div>
              <div class="slide slide1"></div>
              <div class="slide slide2"></div>
              <div class="slide slide3"></div>
            </div>
          </div>
        </section>
        <section class="item-section"></section>
      </article>
    </main>
    <footer></footer>

    <!-- contoh shadow Dom -->
    <!-- <custom-button label="Hello World" background="#0000"></custom-button> -->
    <script src="../scripts/roots.js"></script>
  </body>
</html>
