<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="FoodieFinds || Apps" />
    <meta name="keywords" content="FoodieFinds || Apps" />
    <meta name="author" content="Jacky Chen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodieFinds</title>
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar-group">
        <h1>FoodieFinds</h1>
        <ul class="nav-menu">
          <!-- nav-items -->
        </ul>
        <button id="hamburger" class="hamburger">&#9776;</button>
      </nav>
      <div class="hamburger-menu">
        <ul class="hamburger-items">
          <!-- hamburger items -->
        </ul>
      </div>
    </header>
    <main>
      <article>
        <section class="hero-section">
          <div class="hero-group">
            <div class="container-image">
              <div class="hero-content">
                <h1>Find Your Favorite Restaurant Here!</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolorem fugit praesentium harum possimus, aliquam explicabo ex veniam architecto illo officia nostrum ipsa aspernatur eligendi aliquid obcaecati deleniti,
                  omnis provident!
                </p>
              </div>
              <div class="slide slide1"></div>
              <div class="slide slide2"></div>
              <div class="slide slide3"></div>
            </div>
          </div>
        </section>
        <section class="item-section">
          <h1>List Restaurant</h1>
          <div class="restaurant-grid" id="restaurantGrid">
            <!-- item Restaurant-->
          </div>
        </section>
      </article>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2024 - FoodieFinds</p>
    </footer>
  </body>
</html>
