<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="FoodieFinds || Apps" />
    <meta name="keywords" content="FoodieFinds || Apps" />
    <meta name="author" content="Jacky Chen" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#ff8e3c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./icons/icons.jpeg" />
    <link rel="manifest" href="./app.webmanifest" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>FoodieFinds</title>
  </head>
  <a href="#restaurantGrid" class="skip-to-content" tabindex="1">Skip to main content here!!</a>
  <body>
    <header class="navbar">
      <nav class="navbar-group" aria-label="Main Navigation">
        <h1 tabindex="2">FoodieFinds</h1>
        <ul class="nav-menu">
          <!-- nav-items -->
        </ul>
        <button id="hamburger" tabindex="3" class="hamburger" aria-label="Open menu">&#9776;</button>
      </nav>
      <div class="hamburger-menu" aria-hidden="true">
        <ul class="hamburger-items">
          <!-- hamburger items -->
        </ul>
      </div>
    </header>
    <main id="mainContent"></main>
    <footer class="footer" aria-labelledby="footer-text">
      <p>Copyright &copy; 2024 - FoodieFinds</p>
    </footer>
  </body>
</html>
