@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* elements */
  --background-color: #eff0f3;
  --headline-color: #0d0d0d;
  --paragraph-color: #2a2a2a;
  --button-color: #ff8e3c;
  --button-text-color: #0d0d0d;

  /* ilustration */
  --stroke: #0d0d0d;
  --main-color: #eff0f3;
  --highlight: #ff8e3c;
  --secondary: #fffffe;
  --tertiary: #d9376e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  position: relative;
}

.skip-to-content {
  position: absolute;
  top: 100px;
  left: 20%;
  background-color: var(--background-color);
  color: var(--button-text-color);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.875rem;
  text-decoration: none;
  z-index: 99;
  font-weight: 600;
}

.skip-to-content:focus {
  left: 25%;
  background-color: var(--button-color);
  color: var(--button-text-color);
  font-weight: 800;
}

.navbar {
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.navbar-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-block: 30px;
  padding-inline: 20px;
  align-items: baseline;
  max-width: 1024px;
  margin: auto;
}

.navbar-group h1 {
  font-size: 2rem;
  color: var(--highlight);
}

.navbar-group .nav-menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 10px;
}

.nav-menu li a {
  color: var(--headline-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu li a:hover {
  color: var(--tertiary);
  font-weight: 700;
}

.nav-menu li a:focus {
  color: var(--highlight);
  font-weight: 700;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--headline-color);
  font-weight: 800;
  display: none;
}

.hamburger:hover {
  color: var(--tertiary);
}

.hamburger:focus {
  color: var(--highlight);
}

.hamburger-menu {
  display: none;
}

.hero-section {
  background-color: var(--button-color);
  margin-block-end: 40px;
  height: fit-content;
}

.hero-group {
  margin: auto;
}

.container-image {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 1s ease-in-out;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -ms-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
}

.slide1 {
  background-image: url("../public/images/heros/hero-image_1.jpg");
  object-fit: cover;
}

.slide2 {
  background-image: url("../public/images/heros/hero-image_2.jpg");
  object-fit: cover;
}

.slide3 {
  background-image: url("../public/images/heros/hero-image_3.jpg");
  object-fit: cover;
}

.slide.active {
  transform: translateX(-100%); /* Geser slide ke kiri */
}

.slide.previous {
  transform: translateX(0);
}

.hero-content {
  max-width: 750px;
  padding-inline: 20px;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  z-index: 9;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero-content h1 {
  font-size: 2.5rem;
  background-color: var(--paragraph-color);
  color: var(--highlight);
  font-weight: 800;
  padding-block: 5px;
  padding-inline: 10px;
}

.hero-content p {
  background-color: var(--paragraph-color);
  font-size: 1.5rem;
  max-width: 768px;
  line-height: 1.5;
  color: var(--secondary);
  font-weight: 500;
  padding: 10px;
}

.item-section h1 {
  text-align: center;
  padding-block: 30px;
  font-size: 2rem;
  color: var(--headline-color);
}

.restaurant-grid {
  max-width: 1024px;
  margin: auto;
  padding-block: 30px;
  padding-inline: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: var(--main-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--secondary);
  text-align: justify;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 250px;
  display: block;
}

.location {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--stroke);
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.card-content {
  padding: 20px;
}

.rating {
  font-size: 1rem;
  color: var(--headline-color);
  margin-bottom: 5px;
  font-weight: 500;
}

.restaurant-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--headline-color);
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: var(--paragraph-color);
  line-height: 1.5;
}

.footer {
  background-color: var(--background-color);
  color: var(--paragraph-color);
  padding-inline: 20px;
  padding-block: 30px;
  margin-top: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.hamburger:focus,
.nav-menu li a:focus,
.hamburger-menu .hamburger-items li a:focus {
  outline: 2px solid var(--headline-color);
}

[tabindex]:focus {
  outline: 3px solid var(--button-color); /* Highlight focus */
}

/*  */
@media (min-width: 1200px) {
  .container-image {
    min-width: 1000px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }

  .hero-content {
    max-width: 550px;
    gap: 10px;
    padding-inline: 10px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .hamburger-menu {
    display: none;
  }

  .restaurant-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-content {
    max-width: 450px;
    gap: 10px;
    padding-inline: 10px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 55%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
  }

  .hamburger-menu {
    max-height: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    padding-block: 15px;
    background-color: var(--highlight);
    position: absolute;
    width: 100%;
    height: 140px;
    top: 20;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: max-height 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
    -webkit-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .hamburger-menu.active {
    max-height: 500px;
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .hamburger-menu .hamburger-items li a {
    display: block;
    padding: 10px 20px;
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
  }

  .hamburger-menu .hamburger-items li a:hover {
    color: var(--tertiary);
  }

  .hamburger-menu .hamburger-items li a:focus {
    color: var(--button-text-color);
  }

  .nav-menu li {
    display: none;
  }

  .restaurant-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-content {
    max-width: 350px;
    gap: 10px;
    padding-inline: 10px;
  }
}
